<%- model_class = ElevatorController -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:floors) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @elevator_controllers.each do |elevator_controller| %>
      <tr>
        <td><%= link_to "Elevator Controller " + elevator_controller.id.to_s, elevator_controller_path(elevator_controller) %></td>
        <td><%= elevator_controller.floors %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_elevator_controller_path(elevator_controller), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      elevator_controller_path(elevator_controller),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_elevator_controller_path,
            :class => 'btn btn-primary' %>